@page "/"
<nav aria-label="breadcrumb" class="bg-secondary bg-opacity-10  rounded-3 mb-2">
	<ol class="breadcrumb align-content-center ps-3 pt-1 pb-1">
		<li class="breadcrumb-item active" aria-current="page">Home</li>
	</ol>
</nav>

<div class="container">
	<div class="row">
		<div class="col-6">
			<div>
				<img src="bookstore.jpg" alt="Bookstore" class="img-fluid rounded-3">
			</div>
		</div>
		<div class="col-6">
			<div class = "ps-3">
				<h1 class="text-center">Bookstore Managemnet</h1>

				<p>Welcome to the Bookstore Point of Sale System</p>
				<p>Use the options on the sidebar to process sales, manage inventory, or assist customers.</p>

				<br />
				<figure class="text-center">
					<blockquote class="blockquote">
						<p>“There is no friend as loyal as a book.”</p>
					</blockquote>
					<figcaption class="blockquote-footer">
						Ernest Hemingway
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
<p class="text-muted ps-3 mt-2">Image from <a href="https://pixabay.com/photos/books-literature-library-bookstore-2211342/">Pixabay</a></p>
<div class="container">
  <footer class="py-3 my-4">
    <p class="text-center text-body-secondary">© 2025 Temi Bankole, Anna Yabut, Cintya Lara, Inc</p>
  </footer>
</div>

